<div class="center">
  <div class="stack">
    <h1>Persons!</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <%= render @persons || "empty" %>
      </tbody>
    </table>
  </div>
</div>

